[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Exec=com.hackers_game.dice.sh
Name=Dice Server
Icon=/usr/share/icons/Adwaita/scalable/devices/printer-network-symbolic.svg
